alembic
blinker
click
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug==2.2.2
WTForms
