body {
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	overflow-x: hidden; /* Strunta i att scrolla åt sidan */
}

#topnav {
	display: flex;
	background: #f9f9f9ff;
	align-items: center;
	color: black;	
	height: 84px;
	border-bottom: 3px solid black;
}

.post-box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.post-box {
	text-align: center;
	width: 200px;
	padding: 20px;
	margin-inline: 60px;
	margin-top: 50px;
	background-color: #f9f9f9ff;
	/*border-width: 3px;*/
	/*border-radius: 20px;*/
	/*border-style: solid;*/
}

.post-box hr {
        /*border-top: 1px solid #00d2ffff;*/
	 border-top: 2px solid;
}

.post-box:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}
