* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 23px;
	overflow-x: hidden; /* Strunta i att scrolla åt sidan */
	background-color: #717171;
	margin-bottom: 160px;
}

a {
	text-decoration: none;
	color: white
}

a:hover:not(.logo):not(.submit):not(.modal-button):not(.dropdown .dropdown-content .dropdown-button) {
	transition: transform .2s;
	color: #decd87;
}

#topnav {
	display: flex;
	background-color: #666666;
	align-items: center;
	border-bottom: 5px solid #decd87;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1; /* Gör så att element som blir påverkade av transform ej dyker upp ovanpå navbaren */
	flex-wrap: wrap;
	padding-top: 8px;
	padding-bottom: 8px;
}

#topnav ul li {
	display: inline-block;
	font-size: 22px;
	list-style-type: none;
	margin-left: 20px;
	font-weight: bold;
}

.sidenav {
	background-color: #666666;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	font-size: 25px;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #decd87;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	text-decoration: none; /* inget understryck på x:et */
}

.logo {
	display: flex;
	/*text-decoration: none;*/
	align-items: center;
	text-align: center;
}

#topnav .logo {
	margin-left: 40px;
	cursor: pointer;
}


.logo:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.logo img {
	padding-bottom: 10px;
	/*width: 36px;*/
	width: 26%;
	margin-top: 8px;
	margin-right: 6px;
}

.logotext {
	font-size: 35px;
	padding-left: 8px;
	font-weight: bold;
	color: white;
}

#topnav .user {
	margin-left: auto;
	margin-right: 30px;
	background-color: #decd87;
	padding: 10px;
	padding-inline: 24px;
	/*border-radius: 23.513px;*/
	border-radius: 15px;
	border-width: 0;
	border: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-left: auto;
}

.dropdown-content {
	/*padding-top: 10px;*/
	display: none;
	justify-content: center;
	margin-top: 5px;
	font-size: 21px;
	display: none;
	position: absolute;
	background-color: #666666;
	border-style: solid;
	border-color: #ccccccff;
	border-width: 2.634px;
	border-radius: 17px;
	padding: 20px;
	z-index: 3;
	text-align: center;
	padding-bottom: 40px;
}

.dropdown-button {
	background-color: #decd87;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
	max-width: 100px;
	border: none;
	cursor: pointer;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-content: center;
    align-items: center;
}

.dropdown-button:hover {
	opacity: 0.9;
}

.submit {
	/*margin-top: 18px;*/
	background-color: #decd87;
	padding-top: 6px;
	padding-bottom: 6px;
	/*padding-inline: 12px;*/
	border-radius: 10px;
	border: none;
	cursor: pointer;
	/*font-size: 70%;*/
	font-size: 20px;
	color: black;
	display: flex;
	justify-content: center;
}

.submit:hover {
	color: black;
}

button {
	background-color: #decd87;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-inline: 12px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	/*font-size: 70%;*/
	font-size: 17px;
	/*max-width: 150px;*/
	text-align: center;
	cursor: pointer;
	outline: none;
}

.delete {
	margin-top: 30px;
	margin-bottom: -30px;
	margin-left: auto;
	margin-right: auto;
	/*margin-right: 250px;*/
	display: flex;
	font-size: 20px;
}

h1 {
	text-decoration: underline;
	margin-top: 50px;
	text-decoration-thickness: 4px;
	text-decoration-color: #decd87;
	text-underline-offset: 4px;
	/*font-size: 200%;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: white; /* Färgen står ut lite mer */
}

.post-box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
    position: relative;
    align-items: center;
}

.post-box {
	text-align: center;
	width: 300px;
	margin-inline: 60px;
	margin-top: 50px;
	background-color: #666666;
	border-style: solid;
	border-color: #ccccccff;
	border-width: 4.634px;
	padding-bottom: 70px;
	width: 400px;
	cursor: pointer;
	border-radius: 20px;
	height: 548px;
    position: relative;
    float: none;
	/*border-width: 3px;*/
	/*border-radius: 20px;*/
	/*border-style: solid;*/
}

.post-box .text {
	padding: 20px;
}

.post-box .text .name {
	font-weight: bold;
	font-size: 124%;
	text-align: left;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: #decd87;
	text-underline-offset: 4px;
	margin-bottom: 14px;
}

.post-box .text .items {
	color: #ecececff;
	text-align: left;
}

.post-box .standard-image {
	/*width: 300px;*/
	height: 350px;
	width: 100%;
	object-fit: cover;
	object-position: top;
	padding: 0;
	border-top-left-radius: 20px; /* bara rundade hörn i top */
	border-top-right-radius: 20px;
	/*align-items: center;*/
}

.post-box .add-image {
	margin-top: 70px;
}

.post-box .add-name {
	font-weight: bold;
	margin-top: 35px;
	/*font-size: 134%;*/
	font-size: 124%;
	/*font-size: 32px;*/
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: #decd87;
	text-underline-offset: 4px;
	margin-bottom: 14px;
	display: flex;
	justify-content: center;
}

.post-box:hover {
	transition: transform .2s;
	transform: scale(1.04); /* resize */
	overflow: hidden;
}

.post-box #grid-icon {
    cursor: move;
    filter: invert(1);
    /*position: absolute;*/
    /*right: 0;*/
    /*margin-top: 20px;*/
    /*margin-right: 20px;*/

    position: absolute; /* Enables absolute positioning */
	bottom: 10px; /* Adjust the distance from the bottom */
	right: 10px; /* Adjust the distance from the left */
	width: 25px; /* Maintain the width */
	height: auto; /* Maintain aspect ratio */
    z-index: 10;
}

/* Style for dragging around items in a content folder in the grid */
.drag-over {
    border: 2px dashed #2196F3;
    background-color: #e3f2fd;
}

form p {
	font-size: 92%;
}

.form-container {
	/*text-align: center;*/
	/*width: 300px;*/
	padding-left: 18px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #666666;
	border-style: solid;
	border-color: #ccccccff;
	border-width: 4.634px;
	width: 400px; /* Kan man få width att vara hur långt innehållet sträcker sig ut och lite mer lol*/
	border-radius: 20px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.form-error {
	margin-top: 25px;
	margin-bottom: 5px;
	color: #decd87;
	font-size: 85%;
}

input {
	font-size: 70%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}

#submit { 
	margin-top: 8px;
	background-color: #decd87;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-inline: 12px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 70%;
}

.signup-text {
	font-size: 75%; 
	margin-top: -5px;
}

.signup-text a {
	text-decoration: underline;
	font-weight: bold;
	text-underline-offset: 3px
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

#page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

#page-footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 4vh;
	text-align: center;
}

#page-footer-content ul li {
	display: inline-block;
	font-size: 22px;
	list-style-type: none;
	margin-left: 30px;
}

#page-footer-content .line-break {
	  width: 100%;
}

.singlepost_container {
	/*margin-inline: 60px;*/
	background-color: #666666;
	border-style: solid;
	border-color: #ccccccff;
	border-width: 4.634px;
	border-radius: 20px;
	padding: 70px;
	padding-bottom: 170px;

	display: flex;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	margin-top: 70px;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.singlepost_container .text {
	/*line-break: normal;*/
	/*word-wrap: break-word;*/
	margin-bottom: 20px;
}

.singlepost_container img {
	height: 100%;
	/*max-width: 100%;*/
	max-width: 50%;
	margin-right: 120px;
}

.singlepost_container .text h2 {
	text-decoration: underline;
	margin-bottom: 30px;
	text-decoration-thickness: 4px;
	text-decoration-color: #decd87;
	text-underline-offset: 4px;
	/*font-size: 200%;*/
	color: white; /* Färgen står ut lite mer */
}

.description-header {
	color: #decd87;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 29px;
}

.post-description {
	margin-top: 30px;
	margin-bottom: -30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	max-width: 90%;
	word-wrap: wrap;
	overflow-x: hidden;
}

#id01 {
	display: none;
}

.modal-button {
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity:0.9;
}

.deletebtn:hover {
	opacity: 0.9;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
	max-width: 50%;	
	display: flex;
	justify-content: center;
	padding-inline: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Add a color to the cancel button */
.cancelbtn {
	background-color: #ccc;
	color: black;
}

/* Add a color to the delete button */
.deletebtn {
	background-color: #f44336;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	/*font-size: 70%;*/
	font-size: 17px;
	/*max-width: 150px;*/
	text-align: center;
	cursor: pointer;
	outline: none;
  	color: black;
}

/* Add padding and center-align text to the container */
.container {
	padding: 16px;
	text-align: center;
}

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #717171;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 4.634px solid #ccccccff;
	width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
	margin-left: auto;
  	margin-right: auto
}

.center { /* Kan inte centrera <a> utan att ha i en div med detta? */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40px;
}

.std-margin {
	margin-top: 30px;
	margin-right: 60px;
	margin-left: 60px;
}

.messages {
	display: flex;
	margin-top: 30px;
	margin-bottom: 20px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	color: #decd87;
	font-weight: bold;
	text-align: center;
	max-width: 90%;
}

.messages ul li {
	list-style-type: none;
}

.collection-actions-container {
	margin-top: ;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
	margin-bottom: -30px;
	text-decoration: underline;
}

.collection-actions-container a {
	margin-inline: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

@media screen and (max-width: 790px) {
	.singlepost_container img {max-width: 100%;}
}

@media screen and (max-width: 700px) {
	.std-margin {margin-bottom: 30px;}

	#topnav .user {
		padding-inline: 14px;
		margin-right: 20px;
		font-size: 20px;
	}
	.modal-content { width: 70%;}
	.cancelbtn, .deletebtn { max-width: 70%;}
}

@media screen and (max-width: 500px) {
.modal { padding-top: 90px;}


@media screen and (max-width: 450px) {
	.std-margin {
		margin-right: 30px;
		margin-left: 30px;
	}

	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}

	.singlepost_container img {
		max-width: 110%;
		margin-right: 0;
	}

	h1 {font-size: 35px;}

	#topnav .logo {
		margin-left: 10px;
	}
	.logotext {
		font-size: 30px;
		padding-left: 2px;
	}

	#topnav ul li {margin-left: 10px}

	#topnav .user img {max-width: 90%;}

	.post-box {
		height: 488px;
	}

	.post-box .standard-image {
		height: 310px;
	}

	.post-box .add-image {
		max-width: 80%;
	}

	body {font-size: 20px}
	.form-container {width: 350px}

	.description-header {font-size: 27px;}

	.singlepost_container {width: 90%;}

	.delete {
		font-size: 18px;
	}
}

@media screen and (max-width: 400px) {
	.singlepost_container img {max-width: 120%;}

	.post-box {
		height: 428px;
	}

	.post-box .standard-image {
		height: 250px;
	}

	.post-box .add-name {font-size: 108%;}

	.post-box .add-image {
		max-width: 80%;
	}

	.form-container {width: 320px}

	#topnav .user img {max-width: 27%;}

	#topnav .user {
		font-size: 17px;
		padding-inline: 7px;
	}
	input { font-size: 65%; }
}

@media screen and (max-width: 350px) {
	.singlepost_container img {max-width: 140%;}

	.post-box {
		height: 378px;
	}

	.post-box .standard-image {
		height: 200px;
	}

	.post-box .add-name {font-size: 100%;}

	.post-box .add-image {
		max-width: 65%;
	}

	h1 {font-size: 30px;}
	
	.form-container {width: 280px}

	body {font-size: 18px}

	.description-header {font-size: 25px;}

	.delete {
		font-size: 16px;
	}

	#topnav ul li {font-size: 18px}
	#submit {font-size: 12px}
}

@media screen and (max-width: 300px) {
	.singlepost_container img {max-width: 180%;}

	.modal-content { width: 80%;}
	.cancelbtn, .deletebtn { max-width: 80%;}

	#topnav .logo {margin-left: 10px}

	#topnav .user {
		margin-right: 10px;
	}

	.logotext {
		font-size: 25px;
		padding-left: 0;
	}

	.post-box {
		height: 300px;
	}

	.post-box .standard-image {
		height: 120px;
	}

	.post-box .add-name {font-size: 80%;}

	.post-box .add-image {
		max-width: 60%;
	}

	.post-box .text .name {
		font-size: 94%;
	}

	.form-container {width: 250px}
	input { font-size: 60%}

	h1 {font-size: 25px;}
}
