<!doctype html>
<html>
    <body>
	{% extends "base.html" %} <!--Inkludera base.html, som innehåller navbar som ska inkluderas i varje fil-->
	{% block content %}
	<h1>About this site</h1>
		<div class="std-margin">
			<h3 class="description-header">What is this site even about?</h3>
			<i>It's simple! This site is all about being your digital storage space. You can store personal collections in the form of images and descriptive text.</i>
			<h3 class="description-header">What does the name mean?</h3>
			<i>Kerätä (Finnish): to collect, to gather.</i>
			<h3 class="description-header">What about the security of using this site?</h3>
			<i>By using this site you agree to trust us with your data. The data that is stored is only your username and password, and the images and text that you submit to the site.</i>
		</div>
	{% endblock %}
    </body>
</html>
