<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="all">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="any">
        {% if title %}
        	<title>{{ title }}</title>
	{% else %}
        	<title>Kerätä</title>
        {% endif %}
	
	<!--<script>document.getElementById("user").addEventListener('mousedown', function(e){ e.preventDefault(); }, false);</script>-->

	<script>
	// Get the modal
	var modal = document.getElementById('id01');
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	}
	</script>

	<script>
	// Get the modal
	
	var dropdown = document.getElementById('user-dropdown');
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	if (event.target == dropdown) {
	    	dropdown.style.display = "none";
	  }
	}
	</script>

	<script> /* Open confirm modal */
		function openModal() {
			document.getElementById('id01').style.display='block'
		}

		document.addEventListener("keydown", event => { //Stäng sidenav om man trycker på escape
			if (event.keyCode == 27) { //27 är keycode för escape
				document.getElementById('id01').style.display='none'
			}
		});
	</script>

	<script> /* User dropdown */
		/* TODO: ändra rotation på arrow 180 grader när man togglar */
	        function openDropdown() {
			console.log("Opening user dropdown")
	        	document.getElementById("arrow").style.transform = "rotate(180deg) scaleX(-1)";

	        	document.getElementById("user-dropdown").style.display = "block";
			document.addEventListener("keydown", event => { //Stäng sidenav om man trycker på escape
				if (event.keyCode == 27) { //27 är keycode för escape
					closeDropdown();
				}
			});
	        }
	              
	        function closeDropdown() {
			console.log("Closing user dropdown");
	        	document.getElementById("user-dropdown").style.display = "none";
	        	document.getElementById("arrow").style.transform = "rotate(0deg) scaleX(-1)";
	        }

		function toggleDropdown() {
			if (document.getElementById("user-dropdown").style.getPropertyValue('display') == "block") {
				closeDropdown()
			}
			else {
				openDropdown()
			}
		}
	</script>
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<nav id="topnav">
				{% if current_user.is_active %}
					<a class="logo" href="{{ url_for('index') }}">
						<img src="{{ url_for('static', filename='images/elements/logo.svg') }}" alt="logo icon">

						<div class="logotext">
							Kerätä
						</div>
					</a>
				{% else %}
					<a class="logo" href="{{ url_for('login') }}">
						<img src="{{ url_for('static', filename='images/elements/logo.svg') }}" alt="logo icon">

						<div class="logotext">
							Kerätä
						</div>
					</a>
				{% endif %}


				<ul>
					<!--<li><a href="{{ url_for('index') }}">Your collections</a></li>-->
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
				</ul>

				{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}" class="user"> <!--Gör istället två stycken, en sign up och en sign in bredivd eller nåt-->
					Sign in
				</a>
				{% else %}
				<span onclick="toggleDropdown()" class="dropdown">
					<div id="user" class="user">
						<img src="{{ url_for('static', filename='images/elements/user.svg') }}" style="padding-right: 5px" alt="user" width="25">
						{{ current_user.username }}
						<img src="{{ url_for('static', filename='images/elements/arrow.svg') }}" id="arrow" alt="down arrow" width="28">
					</div>
			  		<div onclick="closeDropdown()" id="user-dropdown" class="dropdown-content">
						<a href="{{ url_for('index') }}">Your colletions</a>
						<div style="padding-top: 10px;"></div>
						<a class="dropdown-button" href="{{ url_for('logout') }}">Sign out</a> <br>
					</div>
				</span>
				{% endif %}
			</nav>
			
			{% block content %}{% endblock %} <!--Innehållet börjar-->

			<div class="messages"> <!--Error messages-->
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
				    {% for message in messages %}
				    <li>{{ message }}</li>
				    {% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</div>

			</div>
		<footer id="page-footer">
			<hr>
			<div id="page-footer-content">
				<ul>
					{% if current_user.is_active %}
						<li><a href="{{ url_for('index') }}">Your collections</a></li>
					{% endif %}
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
				</ul>
			
				<div class="line-break"></div>
			
				{% if current_user.is_active %}
					<a class="logo" href="{{ url_for('index') }}">
						<img src="{{ url_for('static', filename='images/elements/logo.svg') }}" alt="logo icon">
						<div class="logotext">
							Kerätä
						</div>
					</a>
				{% else %}
					<a class="logo" href="{{ url_for('login') }}">
						<img src="{{ url_for('static', filename='images/elements/logo.svg') }}" alt="logo icon">
						<div class="logotext">
							Kerätä
						</div>
					</a>
				{% endif %}
			</div>
		</footer>
	</div>
</body>
</html>
