<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="all">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="any">
	<!--<link rel="icon" href="{{ '/static/images/elements/logo.svg' }}" sizes="64x64">-->
        {% if title %}
        <title>{{ title }}</title>
	{% else %}
        <title>Kerätä</title>
        {% endif %}
	
	<!--<script>document.getElementById("user").addEventListener('mousedown', function(e){ e.preventDefault(); }, false);</script>-->

	<script> /* Sidenav */
	        function openNav() {
			if (document.getElementById("user-dropdown").style.getPropertyValue('style') != "none") {
				closeDropdown()
			}

	        	document.getElementById("mySidenav").style.width = "250px";
			document.addEventListener("keydown", event => { //Stäng sidenav om man trycker på escape
				if (event.keyCode == 27) { //27 är keycode för escape
					closeNav();
				}
			});
	        }
	              
	        function closeNav() {
	        	document.getElementById("mySidenav").style.width = "0";
	        }
	</script>

	<script> /* User dropdown */
		/* TODO: ändra rotation på arrow 180 grader när man togglar */
	        function openDropdown() {
			console.log("Opening user dropdown")
			if (document.getElementById("mySidenav").style.getPropertyValue('width') != "0") {
				closeNav()
			}

	        	document.getElementById("arrow").style.transform = "rotate(180deg) scaleX(-1)";

	        	document.getElementById("user-dropdown").style.display = "block";
			document.addEventListener("keydown", event => { //Stäng sidenav om man trycker på escape
				if (event.keyCode == 27) { //27 är keycode för escape
					closeDropdown();
				}
			});
			/* document.addEventListener("mousedown", event => { //Stäng sidenav om man trycker på escape
				//if (!event.target.classList.contains('dropdown-content')) {
				if (!event.target.matches('dropdown-content')) {
				        // your code
				    }
				closeDropdown();
			}); */
	        }
	              
	        function closeDropdown() {
			console.log("Closing user dropdown");
	        	document.getElementById("user-dropdown").style.display = "none";
	        	document.getElementById("arrow").style.transform = "rotate(0deg) scaleX(-1)";
	        }

		function toggleDropdown() {
			if (document.getElementById("user-dropdown").style.getPropertyValue('display') == "block") {
				closeDropdown()
			}
			else {
				openDropdown()
			}
		}
	</script>
</head>
<body>
	<div id="topnav">
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="#">About</a>
			<a href="#">Contact</a>
			<!--<a href="#">Services</a>-->
			<!--<a href="#">Clients</a>-->
		</div>

		<!--<div onclick="openNav()">-->
			<!--<img class="menu" src="{{ url_for('static', filename='images/elements/bars.svg') }}" alt="menu">-->
		<!--</div>-->

		<a class="logo" href="{{ url_for('index') }}">
			<img src="{{ url_for('static', filename='images/elements/logo.svg') }}" alt="logo icon">

			<div class="logotext">
				Kerätä
			</div>
		</a>

		{% if current_user.is_anonymous %}
		<a href="{{ url_for('login') }}" class="user"> <!--Gör istället två stycken, en sign up och en sign in bredivd eller nåt-->
			Sign in
		</a>
		{% else %}
		<span onclick="toggleDropdown()" class="dropdown">
			<div id="user" class="user">
				<img src="{{ url_for('static', filename='images/elements/user.svg') }}" style="padding-right: 5px" alt="user" width="25">
				{{ current_user.username }}
				<img src="{{ url_for('static', filename='images/elements/arrow.svg') }}" id="arrow" alt="down arrow" width="28">
			</div>
	  		<div onclick="closeDropdown()" id="user-dropdown" class="dropdown-content">
				<a href="{{ url_for('index') }}">Your colletions</a>
				<a class="submit" href="{{ url_for('logout') }}">Sign out</a> <br>
			</div>
		</span>
		{% endif %}
	</div>
	<!--
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	-->
	{% block content %}{% endblock %} <!--Innehållet börjar-->
	<!--Gör en footare här lolllllllllllllllllllllllllllllll-->
	<!--<div class="page-footer"></div>-->
</body>
</html>
