<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
        {% if title %}
        <title>{{ title }}</title>
        {% endif %}
</head>
<body>
	<div id="topnav">
		<img class="menu" src="/static/images/elements/bars.svg" alt="menu">

		<a class="logo" href="{{ url_for('index') }}">
			<img src="/static/images/elements/logo.svg" alt="logo icon">

			<div class="logotext">
				Kerätä
			</div>
		</a>

		{% if user %}
		<a href="{{ url_for('login') }}" class="user">
			<img src="/static/images/elements/user.svg" alt="user">
			{{ user.username }}
			<img src="/static/images/elements/arrow.svg" alt="down arrow">
		</a>
		{% else %}
		<a href="{{ url_for('login') }}" class="user"> <!--Gör istället två stycken, en sign up och en sign in bredivd eller nåt-->
			Sign in
		</a>
		{% endif %}
	</div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	{% block content %}{% endblock %} <!--Innehållet börjar-->
</body>
</html>
