{% extends "base.html" %}

{% block content %}
	<div class="collection-actions-container">
		<a href="{{ url_for('index') }}">Return to collections</a>
		<!--<div style="margin-top: 10px;"></div>-->
		<a href="{{ url_for('post_content', current_post_id=current_post.id) }}">Return to collection "{{ current_post.title }}"</a>
	</div>
	
	<h1>Edit collection</h1>
	<div class="form-container">
		<form action="" method="post" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<p>
				{{ form.new_title.label }}:<br>
				{{ form.new_title(size=32) }}<br>
				{% for error in form.new_title.errors %}
				<span class="form-error">*{{ error }}</span>
				{% endfor %}
			</p>
			<p>
				{{ form.new_desc.label }}:<br>
				{{ form.new_desc(size=32) }}<br>
				{% for error in form.new_desc.errors %}
				<span class="form-error">*{{ error }}</span>
				{% endfor %}
			</p>
			<p>
				{{form.new_image.label}}:<br>
				{{form.new_image(size=64)}} <br>
				{% for error in form.new_image.errors %}
				<span class="form-error">*{{ error }}</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>
	</div>
{% endblock %}
