{% extends "base.html" %} <!--Inkludera base.html, som innehåller navbar som ska inkluderas i varje fil-->
{% block content %}
	{% if zero_posts %}
		<h1>No collections added</h1>
	{% else %}
		<h1>Your collections</h1>
	{% endif %}
	<div class="post-box-container">
		<a href="{{ url_for('addpost') }}" class="post-box">
			<img class="add-image" src="/static/images/elements/bigplus.svg" alt="add icon">
			<div class="add-name">Add new collection</div>
		</a>

		{% if not zero_posts %}
			{% for post in posts %}
				{% set items = [0] %}
				{% for postcontent in postcontents %}
					{% if post.id == postcontent.parent %}
						{% if items.append(items.pop() + 1) %}{% endif %}
					{% endif %}
				{% endfor %}
				{% set image_path = file_dir + '/' + post.title + '/' + post.image %}
				<a class="post-box" href="{{ url_for('post_content', current_post_id=post.id) }}">
					<img class="standard-image" src="{{ image_path }}" alt="post image">
					<div class="text">
						<div class="name">{{ post.title }}</div>
						{% if items[0] == 1 %}
							<div class="items">{{ items[0] }} item</div> <!--Här ska det vara lol att den kör Post.query på usern-->
						{% else %}
							<div class="items">{{ items[0] }} items</div> <!--Här ska det vara lol att den kör Post.query på usern-->
						{% endif %}
					</div>
				</a>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
