<!doctype html>
<html>
    <body>
	{% extends "base.html" %} <!--Inkludera base.html, som innehåller navbar som ska inkluderas i varje fil-->
	{% block content %}
		<h1>Your collections</h1>
		<div class="post-box-container">
			<a href="{{ url_for('addpost') }}" class="post-box">
				<img class="add-image" src="/static/images/elements/bigplus.svg">
				<div class="add-name">Add new collection</div>
			</a>

			{% for post in posts %}
				{% set image_path = file_dir + '/' + post.title + '/' + post.image %}
				<div class="post-box">
					<img class="standard-image" src="{{ image_path }}">
					<div class="text">
						<div class="name">{{ post.title }}</div>
						<div class="items">20 items</div> <!--Här ska det vara lol att den kör Post.query på usern-->
					</div>
				</div>
        		{% endfor %}
		</div>
	{% endblock %}
    </body>
</html>
