{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<p class="center" style="margin-top: 35px;"> Sign in with the username "user93" and password "mypassword" for an example.</p>
<div class="form-container">
	<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
		<!--<p style="margin-top: 20px;">-->
		<p>
			{{ form.username.label }}:<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}
			<span class="form-error">*{{ error }}</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}:<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
			<span class="form-error">*{{ error }}</span>
			{% endfor %}
		</p>
		<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<p>{{ form.submit() }}</p>
	</form>
	<br>
	<p style="font-size: 18px; margin-top: -5px;">Don't have an account yet? <a href="{{ url_for('register') }}" style="text-decoration: underline;">Sign up now</a></p><br>
</div>
{% endblock %}
