{% extends "base.html" %}

{% block content %}
<h1>Sign up</h1>
<div class="form-container">
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}:<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}
			<span class="form-error">*{{ error }}</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}:<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
			<span class="form-error">*{{ error }}</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password2.label }}:<br>
			{{ form.password2(size=32) }}<br>
			{% for error in form.password2.errors %}
			<span class="form-error">*{{ error }}</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
</div>
{% endblock %}
