{% extends "base.html" %} <!--Inkludera base.html, som innehåller navbar som ska inkluderas i varje fil-->

{% block content %}
	<div id="id01" class="modal">
		<div class="modal-content">
			<div class="container">
				<br>
				<br>
				<b>Are you sure you want to delete this? This action is irreversible.</b>
				<br>
				<br>
				<div class="clearfix">
					<button onclick="document.getElementById('id01').style.display='none'" type="button" class="modal-button cancelbtn">Cancel</button>
					<a href="{{ url_for('removepostcontent', current_postcontent_id=current_postcontent.id, current_post_id=current_post.id) }}" class="modal-button deletebtn">Confirm</a>
		      		</div>
		    	</div>
		</div>
	</div>

	{% set image_path = file_dir + '/' + current_post.title + '/' + current_postcontent.image %}
	<div class="collection-actions-container">
		<a href="{{ url_for('index') }}">Return to collections</a>
		<a href="{{ url_for('post_content', current_post_id=current_post.id) }}">
			Return to collection "{{ current_post.title }}"
		</a>
		<a href="{{ url_for('editpostcontent', current_post_id=current_post.id, current_postcontent_id=current_postcontent.id) }}">
			Edit this post
		</a>
	</div>

	<div style="margin-bottom: 50px;"></div>

	<button class="delete" onclick="openModal()">Remove this post</button>
	<div class="singlepost_container">
		<img src="{{ image_path }}" alt="{{ current_postcontent.image }}">
		<div class="text">
			{% if current_postcontent.title %}
				<h2>{{ current_postcontent.title }}</h2>
			{% endif %}
			<p>
				<svg style="width: 20px; margin-right: 5px; margin-left: 3px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/></svg>
			 	Added on {{ timestamp }}
			</p>
			{% if current_postcontent.description %}
				<h3 class="description-header">Description:</h3>
				<i style="word-wrap: wrap; overflow-x: hidden">{{ current_postcontent.description }}</i>
			{% endif %}
		</div>
	</div>

{% endblock %}
